<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/template :: template(~{this :: title}, ~{this :: css}, ~{this :: script}, ~{this :: content})}">


<title th:fragment="title">:::: 게시글 목록 ::::</title>

<th:block th:fragment="css"></th:block>

<th:block th:fragment="script"></th:block>

<th:block th:fragment="content">
    <h3 class="mt-4">자유게시판 목록
        <span>
            <a href="/board/10/article/write" class="btn btn-sm btn-success">게시글 쓰기</a>
          </span>
    </h3>

    <hr>

    <form action="#" id="searchForm">
        <div class="input-group">
            <input type="hidden" name="page" value="1">
            <div class="input-group-prepend">
                <select class="custom-select" name="type">
                    <option selected>----- 검색유형 -----</option>
                    <option>제목</option>
                    <option>내용</option>
                    <option>작성자</option>
                    <option>제목 + 내용</option>
                    <option>제목 + 내용 + 작성자</option>
                </select>
            </div>
            <input type="search" class="form-control" name="value">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-success btn-search" type="button">검색</button>
            </div>
        </div>
    </form>

    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th>제목</th>
            <th>번호</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>등록일자</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>255</td>
            <td><a href="/board/10/article/1">제목입니다.</a></td>
            <td>홍길동</td>
            <td>5</td>
            <td>2023-05-05</td>
        </tr>
        <tr>
            <td>254</td>
            <td><a href="read.html">제목입니다.</a></td>
            <td>홍길동</td>
            <td>5</td>
            <td>2023-05-05</td>
        </tr>
        <tr>
            <td>253</td>
            <td>
                <img src="/img/level.gif" style="width: 10px; height: 10px;">
                <img src="/img/re.gif">
                <a href="read.html">댓글 제목입니다.</a>
            </td>
            <td>홍길동</td>
            <td>1</td>
            <td>2023-05-05</td>
        </tr>
        <tr>
            <td>252</td>
            <td>
                <img src="/img/level.gif" style="width: 10px; height: 10px;">
                <img src="/img/level.gif" style="width: 10px; height: 10px;">
                <img src="/img/re.gif">
                <a href="read.html">대댓글 제목입니다.</a>
            </td>
            <td>홍길동</td>
            <td>1</td>
            <td>2023-05-05</td>
        </tr>
        <tr>
            <td>251</td>
            <td><a href="read.html">제목입니다.</a></td>
            <td>홍길동</td>
            <td>5</td>
            <td>2023-05-05</td>
        </tr>
        <tr>
            <td>250</td>
            <td><a href="read.html">제목입니다.</a></td>
            <td>홍길동</td>
            <td>5</td>
            <td>2023-05-05</td>
        </tr>
        <tr>
            <td>249</td>
            <td><a href="read.html">제목입니다.</a></td>
            <td>홍길동</td>
            <td>5</td>
            <td>2023-05-05</td>
        </tr>
        <tr>
            <td>248</td>
            <td><a href="read.html">제목입니다.</a></td>
            <td>홍길동</td>
            <td>5</td>
            <td>2023-05-05</td>
        </tr>
        <tr>
            <td>247</td>
            <td><a href="read.html">제목입니다.</a></td>
            <td>홍길동</td>
            <td>5</td>
            <td>2023-05-05</td>
        </tr>
        <tr>
            <td>246</td>
            <td><a href="read.html">제목입니다.</a></td>
            <td>홍길동</td>
            <td>5</td>
            <td>2023-05-05</td>
        </tr>
        </tbody>

    </table>

    <ul class="pagination h-100 justify-content-center align-items-center">

        <li class="page-item"><a class="page-link">처음으로</a></li>
        <li class="page-item"><a class="page-link">이전목록</a></li>

        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>

        <li class="page-item"><a class="page-link">다음목록</a></li>
        <li class="page-item"><a class="page-link">끝으로</a></li>
    </ul>
</th:block>

</html>










