<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/template :: template(~{this :: title}, ~{this :: css}, ~{this :: script}, ~{this :: content})}">


<title th:fragment="title">:::: 회원 가입 ::::</title>

<th:block th:fragment="css"></th:block>

<th:block th:fragment="script">
<!--    <script src="/js/validator.js" defer></script>-->
<!--    <script src="/js/member_register.js" defer></script>-->
</th:block>

<th:block th:fragment="content">
    <div class="bg-pattern text-primary text-opacity-50 opacity-25 w-100 h-100 start-0 top-0 position-absolute">
    </div>
    <div class="bg-gradientwhite flip-y w-50 h-100 start-50 top-0 translate-middle-x position-absolute"></div>

    <div class="container pt-11 pt-lg-14 pb-9 position-relative z-1">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 col-sm-8 mt-3">
                <h3 th:text="#{memberForm.title.register}">나의 친구가 되어주세요.</h3>
                <p class="mb-2 w-lg-75" th:text="#{memberForm.title.register.subtitle}">
                    세부 정보를 입력하여 주세요...
                </p>

                <div class="width-50x pt-1 bg-primary mb-3"></div>

                <div class="position-relative">
                    <div>
                        <form name="registerForm" class="needs-validation" novalidate method="post" th:object="${memberForm}" enctype="multipart/form-data">
                            <div class="input-icon-group mb-3">
                                <!-- <input type="text" class="form-control" required id="id" name="id" autofocus  placeholder="아이디"> -->
                                <input type="text" class="form-control" required autofocus  placeholder="아이디" th:placeholder="#{memberForm.label.id}"  th:field="*{id}">
                                <!-- 데이터 검증 오류 메시지 출력 -->
                                <th:block th:if="${errors != null}">
                                    <p th:if="${errors.containsKey('id')}" th:class="text-danger" th:text="${errors['id']}">아이디 관련 입력 오류 메시지</p>
                                </th:block>
                            </div>
                            <div class="input-icon-group mb-3" id="dupResult"></div>

                            <div class="input-icon-group mb-3">
                                <input type="text" class="form-control" required  autofocus placeholder="이름" th:placeholder="#{memberForm.label.name}"  th:field="*{name}">
                                <!-- 데이터 검증 오류 메시지 출력 -->
                                <th:block th:if="${errors != null}">
                                    <p th:if="${errors.containsKey('name')}" th:class="text-danger" th:text="${errors['name']}">이름 관련 입력 오류 메시지</p>
                                </th:block>
                            </div>

                            <div class="input-icon-group mb-3">
                                <input type="email" class="form-control" required placeholder="이메일" th:placeholder="#{memberForm.label.email}"  th:field="*{email}">
                                <!-- 데이터 검증 오류 메시지 출력 -->
                                <th:block th:if="${errors != null}">
                                    <p th:if="${errors.containsKey('email')}" th:class="text-danger" th:text="${errors['email']}">이메일 관련 입력 오류 메시지</p>
                                </th:block>
                            </div>
                            <div class="input-icon-group mb-3">
                                <input type="file" class="form-control" required  th:field="*{profileImage}">
                                <!-- 데이터 검증 오류 메시지 출력 -->
                                <th:block th:if="${errors != null}">
                                    <p th:if="${errors.containsKey('profileImage')}" th:class="text-danger" th:text="${errors['profileImage']}">이미지 관련 입력 오류 메시지</p>
                                </th:block>
                            </div>

                            <div class="input-icon-group mb-3">
                                <input type="password" class="form-control" required placeholder="비밀번호" th:placeholder="#{memberForm.label.passwd}"  th:field="*{passwd}">
                                <!-- 데이터 검증 오류 메시지 출력 -->
                                <th:block th:if="${errors != null}">
                                    <p th:if="${errors.containsKey('passwd')}" th:class="text-danger" th:text="${errors['passwd']}">비밀번호 관련 입력 오류 메시지</p>
                                </th:block>
                            </div>

                            <div class="input-icon-group mb-3">
                                <input type="password" class="form-control" required id="re-passwd" placeholder="비밀번호 확인" th:placeholder="#{memberForm.label.repasswd}"  th:field="*{rePasswd}">
                                <!-- 데이터 검증 오류 메시지 출력 -->
                                <th:block th:if="${errors != null}">
                                    <p th:if="${errors.containsKey('rePasswd')}" th:class="text-danger" th:text="${errors['rePasswd']}">비밀번호 확인 관련 입력 오류 메시지</p>
                                </th:block>
                            </div>
                            <!-- 글로벌 오류 메시지 출력 -->
                            <div th:if="${errors != null}">
                                <p th:if="${errors.containsKey('global')}" th:class="text-danger" th:text="${errors['global']}">글로벌 오류 메시지</p>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit" th:text="#{memberForm.button.register}">가입하기</button>
                            </div>
                        </form>
                        <p class="pt-3 small text-body-tertiary">
                            이미 계정이 있습니까? <a href="/member/signin" class="ms-2 fw-semibold link-underline">로그인</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</th:block>

</html>










